.App {
    background-color: #F9F9F9;
    height: 100vh;
}

.content {
    display: flex;
    padding: 26px;
    gap: 26px;
    height: calc(100vh - 120px);
}

.form-card {
    padding: 16px;
    height: fit-content;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button-row {
    display: flex;
    gap:16px;
}

.button-row button svg {
    margin-right: 10px;
}

.visitors-card {
    flex:1;
    height: min-content;
}

.visitors-card-heading {
    padding: 16px;
}